demucs==4.0.1
fastapi==0.115.8
gym==0.26.2
gymnasium==1.0.0
imageio_ffmpeg==0.6.0
kagglehub==0.3.8
librosa==0.10.2.post1
matplotlib==3.8.4
mir_eval==0.8.0
numpy
pandas==2.2.3
Pillow
Requests==2.32.3
soundfile==0.13.0
stable_baselines3==2.5.0
streamlit==1.32.0
torch==2.5.1
uvicorn==0.34.0
python-multipart

